.imageConatiner {
  background-image: url("./assets/images/kitchen.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  text-align: center;
}

.titleHeading {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 2.9rem;
  font-weight: 900;
  left: 50%;
  position: absolute;
  text-transform: capitalize;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header::after {
  color: #ff385c;
  display: block;
  height: 4px;
  font-weight: bold;
  background-color: #ff385c;
  content: " ";
  width: 60px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
